/* Footer */

.a_fo{
    text-decoration:none; border:0;
}

.td_fo{
    text-align:center; 
    color:#bcc9dd;  
    font-weight: 400; 
    font-size: 12px;
    letter-spacing:.5px;
}

footer{
    position: absolute;
    bottom: 0;
}