/* Services */

.p_ser{
    color: #8b8b8b;
    font-weight: 400;
    font-size: 14px;
    line-height:24px;
    letter-spacing:.5px;
}

.a_ser{
    color: #605f5f;
    font-size: 13px;
    font-weight: 600;
    text-transform:uppercase;
    text-decoration:none;
}