/* Testimonials */

.p_test{
    width:240px; 
    padding: 33px 20px 35px 20px;
    border-top:1px solid #e6e6e6;
    border-right:1px solid #e6e6e6;
    border-left:1px solid #e6e6e6;
    color: #8c8c8c;
    font-weight: 400;
    font-size: 14px;
    letter-spacing:.5px;
    line-height:26px;
}

.td_test{
    color: #676767;  
    font-size: 14px; 
    font-weight: 600; 
    letter-spacing:.5px;
}